<template>
    <section class="modal-card-body">
        <h3 class="title has-text-centered has-text-dark">{{$t('createSchool.create_school_title')}}:</h3>
        <div class="box">
            <p>{{ $t('createSchool.school_name_label') }}:</p>
            <b-field>
                <b-input v-model="createSchoolForm.schoolName"
                         :placeholder="$t('createSchool.school_name_placeholder')" required></b-input>
            </b-field>
            <p>{{ $t('createSchool.school_address_label') }}:</p>
            <b-field>
                <b-input v-model="createSchoolForm.schoolAddress"
                         :placeholder="$t('createSchool.school_address_placeholder')" required></b-input>
            </b-field>
            <b-button type="is-primary"
                      v-on:click="createSchool"
                      :disabled="!(isCompleted && clickAllowed)" expanded>{{$t('createSchool.create_school_button') }}
            </b-button>
        </div>
    </section>
</template>

<script>
    import api from "../../api/api";
    import schoolStore from "../../store/schoolStore";
    import dialog from "../../mixins/dialog";

    export default {
        data() {
            return {
                createSchoolForm: {
                    schoolName: '',
                    schoolAddress: ''
                },
                clickAllowed: false
            }
        },
        mixins: [dialog],
        computed: {
            isCompleted() {
                let formFilled = this.createSchoolForm.schoolName && this.createSchoolForm.schoolAddress;
                if (formFilled) {
                    this.clickAllowed = true
                }
                return formFilled;
            }
        },
        methods: {
            createSchool: function () {
                this.clickAllowed = false
                api.school.createSchool(this.createSchoolForm).then(response => {
                        schoolStore.commit('set', response)
                        dialog.methods.openDialogSuccess(this.$i18n.t('createSchool.create_school_success_message'))
                        this.$router.push("/school")
                    },
                    error => {
                        dialog.methods.openDialogError(this.$i18n.t('createSchool.create_school_error_message'))
                    })
            }
        }
    }
</script>
