<template>
    <div class="pd-20">
      <h3 class="title has-text-centered has-text-light">
        {{$t('invitationCardLoc.invitation_card_title')}}:
      </h3>
        <ValidationObserver ref="formValidator">
            <section class="modal-card-body">

                <div class="box">
                    <p>{{$t('invitationCardLoc.headmaster_email_label')}}:</p>
                    <b-field>
                        <ValidationProvider rules="required|email" v-slot="{errors}" mode="passive">
                            <b-input
                                :placeholder="$t('invitationCardLoc.headmaster_email_placeholder')"
                                type="email" v-model="applyingRequest.directorEmail"
                                     required></b-input>
                            <span>{{ errors[0] }}</span>
                        </ValidationProvider>
                    </b-field>
                    <p> {{$t('invitationCardLoc.position_label')}}:</p>
                    <b-select v-model="applyingRequest.position" @change="onChange" expanded class="positionList">
                      <!--option disabled>{{$t('invitationCardLoc.position_placeholder')}}</option-->
                        <!--option v-for="position in positionList" :key="position.name">{{ position.name }}</option-->
                      <option v-for="position in $t('invitationCardLoc.positions')" :key="position.name">{{ position.name }}</option>
                    </b-select>
                    <b-button type="is-primary" v-on:click="applyMe" expanded>
                      {{$t('invitationCardLoc.send_invitation_button')}}
                    </b-button>
                </div>
            </section>
        </ValidationObserver>
    </div>

</template>

<script>
    import api from "../../api/api";
    import AuthenticatedHeader from "../../components/shared/AuthenticatedHeader";
    import {ValidationObserver, ValidationProvider} from "vee-validate";
    import "../../validation/rules";
    import dialog from "../../mixins/dialog"

    export default {
        name: "InvitationCard",
        mixins: [dialog],
        components: {
            AuthenticatedHeader,
            ValidationProvider,
            ValidationObserver
        },
        data() {
            return {
                applyingRequest: {
                    directorEmail: '',
                    position: '' //TODO set the default value $t('invitationCardLoc.position_placeholder'
                },
                /*positionList: [
                    {name: 'Teacher'},
                    {name: 'HeadTeacher'}
                ]*/
            }
        },
        methods: {
            applyMe() {
                this.$refs.formValidator.validate().then(success => {
                    if (!success) {
                        return;
                    }
                    api.school.requestProfile(this.applyingRequest).then(response => {
                            dialog.methods.openDialogSuccess("Your invitation request was successfully sent")
                            this.$router.push("/account")
                        },
                        error => {
                            dialog.methods.openDialogError("Check correctness of director's email or fill the position")
                        })
                })
            }
        }
    }
</script>

<style scoped>
    .positionList {
        margin-bottom: 20px;
    }

    .pd-20{
      padding: 0 20px;
    }
</style>
