<template>
    <div>
        <auth-header></auth-header>
        <div class="container registration">
            <form name="loginForm">
                <h1 class="title">{{ $t('loginForm.login_form_title') }}</h1>
                <section class="box" lang="en">
                    <b-field>
                        <b-input :placeholder="$t('loginForm.login_email_placeholder')" type="email" v-model="data.email" required></b-input>
                    </b-field>

                    <b-field>
                        <b-input :placeholder="$t('loginForm.login_password_placeholder')" required v-model="data.password" type="password"
                                 password-reveal></b-input>
                    </b-field>

                    <div class="buttons">
                        <b-button v-on:click="login" :disabled="loading" type="is-primary" expanded>
                            <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                            <span>{{ $t('loginForm.login_form_button') }}</span>
                        </b-button>
                    </div>
                    <router-link to="/restore">{{ $t('loginForm.forgot_password_link') }}</router-link>
                </section>
            </form>
        </div>
    </div>
</template>

<script>
    import AuthHeader from "../../components/shared/AuthHeader";
    import api from "../../api/api";
    import authenticationStore from "../../store/authenticationStore";

    export default {
        name: "Login",
        components: {
            AuthHeader
        },
        data() {
            return {
                data: {
                    email: '',
                    password: ''
                },
                loading: false
            }
        },
        methods: {
            login: function () {
                this.loading = true;
                api.account.authenticate(this.data).then((response) => {
                        authenticationStore.commit('setToken', response.token)
                        //@ts-ignore
                        this.$router.push('/account');
                    },
                    error => {
                        this.loading = false;
                        this.$router.push('/login')
                    })
            }
        }
    }
</script>

<style scoped lang="scss">
    .registration {
        margin: auto;
        width: 40%;

        .title, .subtitle {
            color: white;
        }

        a {
            font-size: 12px;
        }

        .buttons {
            margin-top: 40px;
        }
    }
</style>
