<template>
    <div>
        <auth-header></auth-header>
        <div class="container registration">
            <h1 class="title">{{ $t('loginForm.forgot_password_title') }}</h1>
            <section class="box" lang="en" v-if="!isSent">
                <b-field>
                    <b-input :placeholder="$t('loginForm.forgot_password_placeholder')" type="password" password-reveal v-model="data.newPassword" required></b-input>
                </b-field>

                <div class="buttons">
                    <b-button v-on:click="submit" type="is-primary" expanded>{{ $t('loginForm.forgot_password_button') }} </b-button>
                </div>
            </section>
            <section class="box" v-if="isSent">
                <p class="notification is-success">{{ $t('loginForm.forgot_password_message') }}
                  <router-link to="/login">{{ $t('loginForm.login_form_button') }}</router-link></p>
            </section>
        </div>
    </div>
</template>

<script>
    import accountMixin from "../../mixins/account";
    import AuthHeader from "../../components/shared/AuthHeader";

    export default {
        name: "SetPassword",
        mixins: [accountMixin],
        components: {
            AuthHeader
        },
        data() {
            return {
                isSent: false,
                data: {
                    token: this.$route.params.t,
                    newPassword: ''
                }
            }
        },
        methods: {
            submit() {
                this.setPassword(this.data).then(() => this.isSent = true);
            }
        }
    }
</script>

<style scoped lang="scss">
    .registration {
        margin: auto;
        width: 40%;

        .title, .subtitle {
            color: white;
        }

        .buttons {
            margin-top: 40px;
        }
    }
</style>
