<template>
    <div id="nav">
        <div class="filler" />
        <router-link to="/account">{{ $t('header.my_account') }}</router-link>
        <router-link to="/apply-for-position">{{ $t('header.apply_for_position') }}</router-link>
        <router-link to="/choose-profile">{{ $t('header.choose_profile') }}</router-link>
        <b-navbar-dropdown :label="$i18n.locale">
            <b-navbar-item v-for="(lang, i) in langs" :key="`Lang${i}`" href="#" @click="changeLocale(lang)" :active="lang === $i18n.locale">
                {{ lang }}
            </b-navbar-item>
        </b-navbar-dropdown>
        <router-link to="/logout">{{ $t('header.logout') }}</router-link>
    </div>
</template>

<script>
    export default {
        name: "authenticated-header",
        data () {
            return { langs: ['ua', 'en'] }
        },
        methods: {
            changeLocale(locale) {
                this.$i18n.locale = locale
            }
        }
    }
</script>

<style lang="scss">
    #nav {
        margin: 0px;
        padding: 30px;
        text-align: right;
        display: flex;

        & > a {
            font-weight: bold;
            color: white;
            opacity: .5;
            margin: 10px;

            &.router-link-exact-active, &.active {
                opacity: 1;
            }
        }

        .spacer {
            display: inline-block;
            width: 20px;
        }

        .filler {
            flex: 1
        }


        a.navbar-link {
            font-weight: bold;
            color: white;
            opacity: .5;
            background: none;
            background-color: transparent;
            text-transform: uppercase;

            &:after {
                border-color: white;
            }
        }

        a.navbar-item {
            text-transform: uppercase;
        }
    }
    
</style>
