<template>
    <b-sidebar position="static" type="is-light" open  mobile="reduced" class="no-scroll">
        <div>
            <div class="logo">
                <b-navbar-item tag="router-link" :to="{ path: '/' }">
                    <img src="../../assets/logo.svg" style="width: 200px" alt="MathPartner">
                </b-navbar-item>
            </div>
            <school-card v-bind:school="school"></school-card>
            <b-menu>
                <b-menu-list :label="$t('schoolLoc.school_label')">
                    <router-link to="/school">{{ $t('schoolLoc.school_sidebar_users_link') }}</router-link>
                    <router-link to="/school/groups">{{ $t('schoolLoc.school_sidebar_groups_link') }}</router-link>
                    <router-link to="/school/plans">{{ $t('schoolLoc.school_sidebar_edu_link') }}</router-link>
                </b-menu-list>
                <b-menu-list :label="$t('schoolLoc.school_actions_label')">
                    <router-link to="/logout">{{ $t('schoolLoc.school_sidebar_logout_link') }}</router-link>
                </b-menu-list>
            </b-menu>
        </div>
    </b-sidebar>
</template>

<script>

    import SchoolCard from "../../components/school/SchoolCard";

    export default {
        name: "SchoolSidebar",
        components: {
            SchoolCard
        },
        props: ['school']
    }
</script>

<style scoped lang="scss">
div{
  border-radius: 5px !important;
}
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        margin-bottom: 0;
    }

    .card {
        margin-bottom: 20px;
      border-radius: 5px !important;
    }

    .menu {
        text-align: left;
        padding: 0 25px;
    }

    .no-scroll{
      padding: 20px;
      overflow: visible !important;
      width:35%;
      max-height:100%;
      border-radius: 5px !important;
    }
</style>
