<template>
  <div class="taskContainer">
    <div class="sidebar" id="mathsidebar">
      <b-collapse
            class="card"
            animation="slide"
            :open="false"
            >
            <template #trigger="props">
                <div
                    class="card-header"
                    role="button"
                >
                    <p class="card-header-title">
                        {{ $t('sidebar.space') }} R64[x,y,z,t]
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
            </template>
            <div class="card-content">
                <div class="content">
                  <div class="buttonsList">
                    <b-button>$\mathbb{Z}$</b-button>
                    <b-button>$\mathbb{Z}p$</b-button>
                    <b-button>$\mathbb{Z}p32$</b-button>
                    <b-button>$\mathbb{Z}64$</b-button>
                    <b-button>$\mathbb{Q}$</b-button>
                    <b-button>$\mathbb{R}$</b-button>
                    <b-button>$\mathbb{R}64$</b-button>
                    <b-button>$\mathbb{R}128$</b-button>
                    <b-button>$\mathbb{C}$</b-button>
                    <b-button>$\mathbb{C}64$</b-button>
                    <b-button>$\mathbb{C}128$</b-button>
                    <b-button>$\mathbb{C}\mathbb{Z}$</b-button>
                    <b-button>$\mathbb{C}\mathbb{Z}p$</b-button>
                    <b-button>$\mathbb{C}\mathbb{Z}p32$</b-button>
                    <b-button>$\mathbb{C}\mathbb{Z}64$</b-button>
                    <b-button>$\mathbb{C}\mathbb{Q}$</b-button>
                  </div>
                  <b-collapse
                      class="card"
                      animation="slide"
                      :open="false"
                    >
                      <template #trigger="props">
                          <div
                              class="card-header"
                              role="button"
                          >
                              <p class="card-header-title">
                                  {{ $t('sidebar.constants') }}
                              </p>
                              <a class="card-header-icon">
                                  <b-icon
                                      :icon="props.open ? 'menu-down' : 'menu-up'">
                                  </b-icon>
                              </a>
                          </div>
                      </template>
                      <div class="card-content">
                          <div class="content">
                            <div class="buttonsList">
                              <b-button>FLOATPOS</b-button>
                              <b-button>MachineEpsilonR64</b-button>
                              <b-button>MachineEpsilonR</b-button>
                              <b-button>MachineEpsilonR/Accuracy</b-button>
                              <b-button>MOD</b-button>
                              <b-button>MOD32</b-button>
                              <b-button>MODbaseP</b-button>
                              <b-button>MODbaseP32</b-button>
                              <b-button>RADIAN</b-button>
                              <b-button>STEPBYSTEP</b-button>
                              <b-button>EXPAND</b-button>
                              <b-button>SUBSTITUTION</b-button>
                              <b-button>TIMEOUT</b-button>
                            </div>
                          </div>
                      </div>
                  </b-collapse>
                </div>
            </div>
        </b-collapse>
        <b-collapse
            class="card"
            animation="slide"
            :open="false"
            >
            <template #trigger="props">
                <div
                    class="card-header"
                    role="button"
                >
                    <p class="card-header-title">
                        {{ $t('sidebar.student') }}
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
            </template>
            <div class="card-content">
                <div class="content">
                  <div class="buttonsList">
                    <b-button>{{ $t('sidebar.plan') }}</b-button>
                  </div>
                </div>
            </div>
        </b-collapse>
    </div>
    <div v-if="task !== null" class="sections">
      <article class="message"  v-for="(section, currentSectionIndex) in task.sectionsList" :key="section.id">
        <span class="question-num">{{currentSectionIndex + 1}}</span>
        <div class="message-body">
          <div class="buttonsContainer">
            <b-button size="is-small" icon-left="shuffle" @click="toggleSection(section.id)" />
          </div>
          <textarea contenteditable="true" v-if="editedTasks.has(section.id)" v-model="section.task" class="sectionEdit" rows="10" />
          <vue-mathjax v-else :formula="section.task"></vue-mathjax>
          <b-field v-if="section.hasAnswer" :label="$t('taskLoc.task_answer_label')" label-position="on-border">
            <b-input v-model="answer" maxlength="2000" type="textarea"></b-input>
          </b-field>
          <div v-if="section.hasAnswer">{{ $t('taskLoc.answer_preview_label') }}:</div>
          <vue-mathjax v-if="section.hasAnswer" :formula="answer"></vue-mathjax>
        </div>

        <footer v-if="section.hasAnswer" class="card-footer">
          <a href="#" class="card-footer-item">{{ $t('taskLoc.task_help_button') }}</a>
          <a href="#" class="card-footer-item">{{ $t('taskLoc.task_answer_button') }}</a>
        </footer>
      </article>
      <!-- <pagination v-if="curentSectionIndex" :options="{ chunk: 5}" :records="task.sectionsList.length" v-model="curentSectionIndex" :per-page="1" @paginate="onPageChange"/> -->
      <!-- <a class="pagination-next">{{ $t('taskLoc.next_task_label') }}</a>
      <a class="pagination-previous">{{ $t('taskLoc.prev_task_label') }}</a> -->
    </div>
  </div>
</template>

<script>
import { VueMathjax } from 'vue-mathjax'
import Pagination from 'vue-pagination-2';
import api from "../../../api/api";

export default {
  components: {
    'vue-mathjax': VueMathjax,
    Pagination,
  },
  name: "TaskView",
  data() {
    return {
      task: null,
      isLoading: false,
      editedTasks: new Set()
    }
  },
  methods: {
    getTask(id) {
      api.tasks.getTask(id).then(data => {
        this.task = data
        setTimeout(() => {
          window.MathJax.Hub.Queue(["Typeset",window.MathJax.Hub]);
        }, 2000)
        this.isLoading = false;
        
      }).catch(() => {
        this.task = null;
        this.isLoading = false;
      })
    },
    toggleSection(id) {
      if (this.editedTasks.has(id)) {
        this.editedTasks.delete(id)
      } else {
        this.editedTasks.add(id)
      }
      this.editedTasks = new Set(this.editedTasks)
    }
  },
  mounted() {
    this.getTask(this.$route.params.id)
  },
  beforeRouteUpdate (to, from, next) {
    this.getTask(to.params.id);
    next();
  },
}
</script>

<style lang="scss">
.VuePagination {
   user-select: none;
  ul {
    list-style: none;
    margin-left: 35px;
    display: flex;
    justify-content :flex-start;
    gap: 8px;

    li a {
      min-width: 2.25em;
      min-height: 2.25em;
      background: whitesmoke;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background: #7957d5;
        border: 1px solid whitesmoke;
        color: whitesmoke;
      }
    }
  }
  .VuePagination__count {
    display: none;
  }
}
</style>

<style lang="scss">
.message {
  color: #4a4a4a;
  position: relative;
  margin-left: 35px;

  .card-footer {
    border-top: 3px solid #dbdbdb;

    .card-footer-item:not(:last-child) {
      border-right: 3px solid #dbdbdb;
    }
  }

  .message-body {
    padding-left: 45px;

    .field {
      margin-top: 20px;
    }
  }

  .question-num {
    position: absolute;
    font-weight: 900;
    border: 3px solid #dbdbdb;
    background: whitesmoke;
    max-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    height: 70px;
    left: -35px;
    top: calc(50% - 35px);
    font-size: 28px;
    border-radius: 50%;
  }
}

.buttonsContainer {
  display: flex;
  margin-bottom: 10px;
}

.sectionEdit {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;
  width: 100%;
}

.taskContainer {
  display: flex;
}

.sections {
  flex: 1
}

.sidebar {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  background: white;
  max-width: 350px;
  height: 100%;
}

.buttonsList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;

  button {
    margin-right: 2px;
    margin-bottom: 2px;
  }
}

</style>
